.details-page {
    font-family: "Poppins Regular", sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.background-image {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 0;
    opacity: 0.1;
}

.header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 20px;
    gap: 12px;
}

.header-page__back-button {
    width: 24px;
    height: 24px;
}

.header-page__pokemon-name {
    font-family: "Poppins Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    flex-grow: 1;
    text-transform: capitalize;
}

.header-page__pokemon-number {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: fit-content;
}

.header-page__pokemon-number > label {
    font-family: "Poppins Bold", sans-serif;
}

.image-container {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
}

.picture {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.picture__image {
    width: 200px;
    height: 200px;
}

.image-container__arrow {
    height: 20px;
    width: auto;
    margin-top: 24px;
}

.details-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 56px 20px 20px;
    height: 416px;
    margin-top: -60px;
}

.chips-abilities {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 2px 16px 16px;
}
.chips-abilities__chip-ability {
    height: 20px;
    width: fit-content;
    border-radius: 10px;
    padding: 2px 8px;
    color: #FFFFFF;
    font-family: "Poppins Bold", sans-serif;
    font-size: 10px;
    line-height: 16px;
    text-transform: capitalize;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.about-info__title {
    font-family: "Poppins Bold", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.about-info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-info-grid-item {
    border-right: 2px solid #E0E0E0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.about-info-grid-item:last-child {
    border-right: none;
}

.about-info-grid-item-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-grow: 1;
}

.about-info-grid-item-value--column {
    flex-direction: column;
    gap: 2px;
}

.about-info-grid-item-value--column .about-info-grid-item-value__text {
    text-transform: capitalize;
}

.about-info-grid-item-value__icon {
    height: 14px;
    width: auto;
}

.about-info-grid-item-value__text {
    font-family: "Poppins Regular", sans-serif;
    font-size: 10px;
    line-height: 16px;
    color: #1D1D1D;
    display: block;
    width: fit-content;
}

.about-info-grid-item__label {
    color: #666666;
    font-family: "Poppins Regular", sans-serif;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
}

.about-info__description {
    font-family: "Poppins Regular", sans-serif;
    font-size: 10px;
    line-height: 16px;
    color: #1D1D1D;
    text-align: justify;
    padding: 12px 0;
}

.base-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-stats__title {
    font-family: "Poppins Bold", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.base-stats-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.base-stats-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.base-stats-list-item__name {
    font-family: "Poppins Bold", sans-serif;
    font-size: 10px;
    line-height: 16px;
    border-right: 2px solid #E0E0E0;
    text-align: right;
    padding: 0 16px 0 0;
    min-width: 50px;
    max-width: 50px;
}

.base-stats-list-item__value {
    font-family: "Poppins Regular", sans-serif;
    font-size: 10px;
    line-height: 16px;
    color: #1D1D1D;
    padding: 0 0 0 8px;
    width: 35px;
}

.base-stats-list-item-bar {
    flex-grow: 1;
    width: 255px;
    height: 4px;
    opacity: 0.8;
    border-radius: 4px;
    overflow: hidden;
}

.base-stats-list-item-bar__fill {
    height: 100%;
}