@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Regular'), url('/src/assets/fonts/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins SemiBold'), url('/src/assets/fonts/poppins/Poppins-SemiBold.woff') format('woff');
}
    
@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Bold'), url('/src/assets/fonts/poppins/Poppins-Bold.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

body {
  background: #fff;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 360px;
  max-height: 640px;
  overflow: hidden;
}
