.home {
  background: #DC0A2D;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 16px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.brand__logo {
  width: 24px;
  height: 24px;
}

.brand__title {
  color: white;
  font-family: 'Poppins Bold', sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.favorites-link {
  width: fit-content;
  max-height: 16px;
}

.favorites-link__icon {
  width: 16px;
  height: 16px;
}

.controls {
  display: flex;
  gap: 16px;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 16px;
}

.clear-icon {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -4px;
  right: 16px;
  cursor: pointer;
}

.search-input {
  flex-grow: 1;
  padding: 8px 40px;
  border-radius: 16px;
  border: none;
  font-family: 'Popins Regular', sans-serif;
  color: #666666;
  font-size: 10px;
  line-height: 16px;
  box-shadow: 0px 1px 3px 1px #00000033;
}

.search-input:focus-visible {
  outline: none;
}

.sort {
  position: relative;
  max-width: 32px;
}

.sort-button {
  max-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 50%;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  border: none;
  position: relative;
  z-index: 9999;
}

.sort-button__symbol {
  max-width: 10px;
  height: 10px;
}

.sort-modal__backdrop {
  position: absolute;
  z-index: 2;
  top: -64px;
  left: -308px;
  width: 360px;
  height: 640px;
  background: rgba(0, 0, 0, 0.2);
}

.sort-selector-modal {
  font-family: "Poppins Regular", sans-serif;
  position: absolute;
  z-index: 9999;
  background: #DC0A2D;
  box-shadow: 0px 3px 12px 3px #00000033;
  width: 113px;
  height: 132px;
  border-radius: 12px;
  padding: 4px;
  left: -75px;
  top: 40px;
}

.sort-selector-modal__title {
  font-family: "Poppins Bold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 16px;
}

.radio-buttons-set {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  border-radius: 8px;
  padding: 16px 20px;
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radio-button__input {
  width: 16px;
  height: 16px;
  accent-color: #DC0A2D;
}

.radio-button__label {
  color: #1D1D1D;
  font-family: "Poppins Regular", sans-serif;
  font-size: 10px;
  line-height: 16px;
}

.pokemon-grid {
  background: white;
  border-radius: 8px;
  padding: 24px 12px 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, max-content);
  gap: 8px;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) #FFFFFF;
  scrollbar-width: thin;
}

.pokemon-card {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 1px 3px 1px #00000033;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  height: 112px;
}

.header-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-card__favorite-icon {
  width: 12px;
  height: 12px;
}

.header-card__delete-icon {
  width: 8px;
  height: 8px;
}

.pokemon-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  border-radius: 7px;
  background: #EFEFEF;
  z-index: 0;
}

.pokemon-img {
  width: 65px;
  min-height: 65px;
  max-height: 65px;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.pokemon-number {
  font-size: 8px;
  line-height: 8px;
  color: #666666;
  text-align: right;
  position: relative;
  z-index: 1;
}

.pokemon-number > label {
  font-family: 'Poppins Regular', sans-serif;
}

.pokemon-name {
  text-transform: capitalize;
  text-align: center;
  color: #1D1D1D;
  font-family: 'Poppins Regular', sans-serif;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  z-index: 1;
}

.pokemon-grid__title {
  font-family: 'Poppins Bold', sans-serif;
  font-size: 18px;
  color: #1D1D1D;
  margin-bottom: 16px;
  position: relative;
  grid-column: 1 / -1;
}

.pokemon-grid__title::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #DC0A2D;
}

.pokemon-grid__no-favorites {
  font-family: 'Poppins Regular', sans-serif;
  font-size: 14px;
  color: #666666;
  grid-column: 1 / -1;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
  grid-column: 1 / -1;
}

.pagination-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  border: none;
  position: relative;
  z-index: 9999;
}

.pagination-button[disabled] {
  background: #EFEFEF;
  cursor: not-allowed;
  filter: opacity(0.5);
}

.pagination-button__icon {
  width: 24px;
  height: 24px;
}

.pagination-button[disabled] .pagination-button__icon {
  filter: grayscale(1);
}