.skeleton {
    position: relative;
    z-index: 1;
    background: linear-gradient(
        90deg,
        #e5e5e5 25%,
        #f0f0f0 37%,
        #e5e5e5 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
